.cardProd{
    margin-top: 3vh;
    margin-left: 8vw;
    width: 80vw;
    overflow: hidden;
}

.imgProd{
    height: 75vh;
    float: left;
    max-width: 30vw;
}

.divProd{
    margin-left: 32vw;
}

.lblName{
    font-size: 2vw;
    font-weight: 500;
}

.lblColor{
    font-size: 1.5vw;
    color: gray;
}

.divProductSize{
    margin-top: 2vh;
    margin-right: 1vw;
    border: solid;
    border-color: gainsboro;
    border-width: thin;
    padding: 3%;
    width: 1vw;
    height: 1.5vh;
  }