<form class="globalForm">
    <mat-card id="addItemCard">
      <mat-card-title>Add Item</mat-card-title>
      <mat-card-content>
        <mat-form-field class="globalInput">
          <input [(ngModel)]="item.name" matInput placeholder="Item Name" name="itemName">
        </mat-form-field>
        <mat-form-field class="globalInput">
          <input [(ngModel)]="item.quantity" matInput placeholder="Quantity" name="itemQuantity" type="number">
        </mat-form-field>
        <mat-form-field class="globalInput">
          <input [(ngModel)]="item.size" matInput placeholder="Size" name="itemsize">
        </mat-form-field>
        <mat-form-field class="globalInput">
          <input [(ngModel)]="item.color" matInput placeholder="Color" name="itemColor">
        </mat-form-field>
        <mat-form-field class="globalInput">
            <input [(ngModel)]="item.price" matInput placeholder="Price" name="itemPrice">
          </mat-form-field>
        <mat-form-field class="globalInput">
            <input [(ngModel)]="item.rent" matInput placeholder="Rent" name="itemRent">
          </mat-form-field>
        <table>
          <tr>
            <td>
              <input type="file" id="itemImage" (change)="FileSelected($event)" #itemImage/>
              <button mat-button (click)="itemImage.click()">Upload Image</button>
            </td>
            <td>
              <input type="text" matInput placeholder="No file selected" disabled value={{imageName}}/>
            </td>
          </tr>
        </table>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="AddItem()">Submit</button>
      </mat-card-actions>
    </mat-card>
    <mat-spinner id="loginSpinner"
        [diameter]="50"
        *ngIf="showSpinner">
    </mat-spinner>
  </form>