<form class="itemForm">
    <mat-card id="addItemCard">
      <mat-card-title>Add Product</mat-card-title>
      <mat-card-content>
        <mat-form-field class="globalInput">
          <input [(ngModel)]="name" matInput placeholder="Item Name" name="itemName">
        </mat-form-field>
        <mat-grid-list cols="3" rowHeight="6:2" class="sizeAddGrid">
          <mat-grid-tile>
            <mat-form-field class="globalInput">
              <input matInput [formControl]="size" placeholder="Size" name="newItemSize">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="globalInput">
              <input matInput [formControl]="quantity" placeholder="Quantity" name="newItemQuantity" type="number">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
              <img src="../../assets/images/add_icon.png" class="removeImage" (click)="AddSize()"/>
          </mat-grid-tile>
        </mat-grid-list>
        <div *ngIf="noSizes">Please add a size</div>
        <div *ngFor="let size of sizes; let i = index">
          <mat-grid-list cols="3" rowHeight="6:2">
            <mat-grid-tile class="sizeListContent">
              <span>{{size.size}}</span>
            </mat-grid-tile>
            <mat-grid-tile class="sizeListContent">
              <span>{{size.quantity}}</span>
            </mat-grid-tile>
            <mat-grid-tile>
              <img id="{{'img_' + i}}" src="../../assets/images/delete_icon.png" class="removeImage" (click)="DeleteSize($event)"/>
            </mat-grid-tile>
          </mat-grid-list>
          <br/>
        </div>
        <mat-form-field class="globalInput">
          <input [(ngModel)]="color" matInput placeholder="Color" name="itemColor">
        </mat-form-field>
        <mat-form-field class="globalInput">
            <input [(ngModel)]="price" matInput placeholder="Price" name="itemPrice" type="number">
          </mat-form-field>
        <mat-form-field class="globalInput">
            <input [(ngModel)]="rent" matInput placeholder="Rent" name="itemRent" type="number">
        </mat-form-field>
        <table>
          <tr>
            <td>
              <input type="file" id="itemImage" (change)="FileSelected($event)" #itemImage/>
              <button mat-button (click)="itemImage.click()">Upload Image</button>
            </td>
            <td>
              <input type="text" matInput placeholder="No file selected" disabled value={{imageName}}/>
            </td>
          </tr>
        </table>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button *ngIf="!editMode" (click)="AddProduct()">Save</button>
        <button mat-button *ngIf="editMode" (click)="AddProduct()">Update</button>
      </mat-card-actions>
    </mat-card>
    <mat-spinner id="loginSpinner"
        [diameter]="50"
        *ngIf="showSpinner">
    </mat-spinner>
  </form>