<form class="loginForm">
  <mat-card id="LoginCard">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <mat-form-field class="loginInput">
            <input matInput placeholder="Username">
          </mat-form-field>
        
          <mat-form-field class="loginInput">
            <input matInput placeholder="Password" type="password">
          </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Submit</button>
    </mat-card-actions>
  </mat-card>
</form>