table {
  width: 100%;
}

.example-card {
  max-width: 14.5vw;
}

.matGridList{
  margin-left: 5vw;
  width: 90vw;
}

#searchInput{
  margin-left: 7.5vw;
  width: 50vw;
}

.divProductSize{
  border: solid;
  border-color: gainsboro;
  border-width: thin;
  padding: 5%;
  width: 40%;
  cursor: pointer;
}

.productImg:hover {
  -moz-transform:scale(1.5);
  -webkit-transform:scale(1.5);
  -o-transform:scale(1.5);
  transform: scale(1.5);
}

.divProductSizeSelected{
  border: solid;
  border-color: gainsboro;
  border-width: thin;
  padding: 5%;
  width: 40%;
}

.selectedSizeInput{
  width: 100%;
}

.selectedSizeTable{
  width: 100%;
  table-layout: fixed;
}

.gridContainer{
  height: 70%;
}

.editImage{
  height: 2.3vh;
  float: right;
  cursor: pointer;
}

.deleteImage{
  height: 4vh;
  cursor: pointer;
}

.productImg{
  height: 35vh;
  object-fit: cover;
}