<!-- <div class="mat-elevation-z8 globalTable">
  <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let product"> {{product._id}} </td>
      </ng-container>
    
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let product"> {{product.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Size </th>
        <td mat-cell *matCellDef="let product"> {{product.size}} </td>
      </ng-container>
    
      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
        <td mat-cell *matCellDef="let product"> {{product.color}} </td>
      </ng-container>
      
      <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
          <td mat-cell *matCellDef="let product"> {{product.price}} </td>
        </ng-container>
        
      <ng-container matColumnDef="rent">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Rent </th>
          <td mat-cell *matCellDef="let product"> {{product.rent}} </td>
        </ng-container>
        
        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Quantity </th>
            <td mat-cell *matCellDef="let product"> {{product.quantity}} </td>
          </ng-container>
        
        <ng-container matColumnDef="quantity_left">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Availability </th>
            <td mat-cell *matCellDef="let product"> {{product.quantity_left}} </td>
          </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div> -->

<mat-form-field class="globalInput" id="searchInput">
  <input [(ngModel)]="searchText" matInput placeholder="Search Product" name="searchText" (keyup)="OnSearchTextChange()">
</mat-form-field>

<mat-paginator [length]="length"
[pageSize]="pageSize"
[pageSizeOptions]="pageSizeOptions"
(page)="pageEvent = OnPageChange($event)">
</mat-paginator>
<mat-spinner class="listSpinner" 
    [diameter]="50"
    *ngIf="showSpinner">
</mat-spinner>
<div id="matGridContainer" [style.height.%]="gridHeight">
<mat-grid-list [cols]="breakpoint" style="height:100%" rowHeight="fit" (window:resize)="onResize($event)" class="matGridList" gutterSize="5px">
  <mat-grid-tile *ngFor="let product of pagedList; let i = index">
    <div>
      <mat-card class="example-card" [style.minHeight]="'100%'" [style.minWidth]="'100%'" [style.maxHeight]="'60%'">
        <mat-card-header>
        </mat-card-header>
        <img class="productImg" mat-card-image [src]="product.image_url" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <table>
            <tr>
              <td>
                <mat-card-title style="font-size: 2.5vh">{{product.name}}</mat-card-title>
              </td>
              <td>
                <img class="editImage" src="../../../assets/images/edit_icon.png" [routerLink]="[{ outlets: {mainOutlet: 'additem'}}]"/>
              </td>
            </tr>
          </table>
          <mat-card-subtitle>{{product.color}}</mat-card-subtitle>
          <mat-grid-list [cols]="3" rowHeight="4:3" matBadgeSize="small" gutterSize="5px">
            <mat-grid-tile *ngFor="let size of product.sizes">
              <div class="divProductSize" [id]="'sizeDiv_' + size.product_id + '_' + size.size" matBadge="{{size.quantity_left}}" (click)="AddToSelectedList(size.product_id, size.size, size.quantity_left)">
                <span>{{size.size}}</span>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
          
          <!-- <div class="divProductSize" *ngFor="let size of product.sizes" [id]="'sizeDiv_' + size.product_id + '_' + size.size" matBadgeSize="small" matBadge="{{size.quantity_left}}" (click)="AddToSelectedList(size.product_id, size.size, size.quantity_left)">
            <span>{{size.size}}</span>
          </div> -->

          <table class="selectedSizeTable">
            <tr *ngFor="let selectedProduct of GetSelectedSizeListForProduct(product._id)">
              <td colspan="1">
                <mat-form-field>
                  <input matInput disabled [value]="GetSizeValueById(selectedProduct.size_id)" class="selectedSizeInput" placeholder="Size"/>
                </mat-form-field>
              </td>
              <td colspan="3">
                <mat-form-field class="globalInput">
                  <input matInput [(ngModel)]="selectedProduct.quantity" [id]="'quantity_' + product._id + '_' + selectedProduct.size_id" placeholder="Quantity" name="newItemSize" type="number" class="selectedSizeInput" (change)="UpdateQtyInSelectedList(product._id, selectedProduct.size_id)">
                </mat-form-field>
              </td>
            </tr>
          </table>
        </mat-card-content>
        <mat-card-actions>
          <img class="deleteImage" src="../../../assets/images/delete_icon.png" (click)="DeleteProduct(product._id)"/>
          <button mat-button (click)="AddToCart()">Add</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-grid-tile>
</mat-grid-list>
</div>

<mat-paginator [length]="length"
[pageSize]="pageSize"
[pageSizeOptions]="pageSizeOptions"
(page)="pageEvent = OnPageChange($event)">
</mat-paginator>