/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#topnav{
 margin-left: 10vw;   
}

#topnav a{
    background-color: rgb(54, 59, 216);
    color: white;
}

.globalInput{
    width: 100%;
}

.globalForm{
    width: 20vw;
    margin-left: 40vw;
    margin-top: 20vh;
}

.mat-button{
    background-color: rgb(54, 59, 216);
    color: white;
}

.MatOption{
    font-size: 11pt;
    font-weight: 500;
}